  <head>
        <title>Курсы английского языка в Виннице - Maldena English Club</title>
        <meta name="keywords" content="курсы английского, бизнес курс английского языка, репетитор английского языка, школа языков, английский в Виннице, индивидуальные занятия английским, английский для детей"/>
		<meta name="description" content="Курсы английского языка, удобное расположение школы, профессиональные преподаватели и комфортные условия. Мы поможем вам стать лучше в вашей профессии"/>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" type="image/x-icon" href="web/client/images/favicon.ico">
        
        <!-- Google Web Font Embed -->
          <link href='https://fonts.googleapis.com/css?family=Cuprum&subset=latin,cyrillic' rel='stylesheet' type='text/css'>

        <!-- Bootstrap core CSS -->
        <link href="web/client/css/bootstrap3.5.css" rel='stylesheet' type='text/css'>

        <!-- Custom styles for this template -->
        <link href="web/client/js/colorbox/colorbox.css"  rel='stylesheet' type='text/css'>
        <link href="web/client/css/templatemo_style.css"  rel='stylesheet' type='text/css'>

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->
        <base href=""/>
</head>