<!DOCTYPE html>
<html lang="en">

<head>
    {% block meta %}{% endblock %}
    {% include "./partials/head.twig" %}
</head>
    <body id="templatemo-top">
    <div class="wrapper">

        <section class="main">
            {% block content %}{% endblock %}
        </section>
    </div>
    <div class="clearfix"></div>
    {#{% include "./partials/footer.twig" %}#}
    {% include "./partials/scripts.twig" %}

    </body>
</html>
