<a href="{{ path('admin_logout') }}">Logout</a>

<form>
    <div>
       Страница
    </div>
    <select name="page">
        <option value="1">Главная</option>
    </select>
    <div>
        Заголовок:
    </div>
    <div>
        <input type="text" value="title">
    </div>
    <div>
        Описание:
    </div>
    <div>
        <textarea name="description">

        </textarea>
    </div>

</form>