{% extends "layouts/main.twig" %}

{% block meta %}
    <title>Курсы английского языка в Виннице - Тест на знание английского языка</title>
    <meta name="keywords" content="узнать свой уровень английского, тест на знания английского, тест английского, курсы английского языка в Виннице, курсы английского в Виннице, школа английского языка в Виннице, школа языка в Виннице, деловой английский, курси англійської мови"/>
    <meta name="description" content="Узнайте свой уровень английского! Курсы английского языка в Виннице, удобное расположение школы, профессиональные преподаватели и комфортные условия. Мы поможем вам стать лучше в вашей профессии"/>
{% endblock %}

{% block content %}

    {% include "./partials/topmenu.twig" with {'action': 'test'} %}

    <div id="templatemo-for-start">
        <div class="container">
            <div class="row">
                <div class="templatemo-line-header container pc-view">
                    <div class="text-center row">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <hr class="hr_gray"/>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <h2>
                                <strong>
                                    Online-тecт английского языка
                                </strong>
                            </h2>
                        </div>
                        <div class=" col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <hr class="hr_gray"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <form method="post" action="{{ path('saveTest') }}">
            <div class="container">
                <div>
                    <p>Пройдите тест, чтобы мы могли узнать уровень вашего английского и предложить лучший вариант обучения.</p>
                    <p>И помните здесь нет хороших или плохих результатов, нам нужны ответы для того, чтобы подобрать для вас максимально эффективное обучение в нашей школе английского. Если вы не знаете ответ можете смело пропустить вопрос.</p>
                </div>
            {% include "./partials/test.twig" with {'answer': answer, 'user': user} %}
                <div class="submit text-center">
                    <button class="btn btn-lg btn-orange" type="submit">Отправить результаты</button>
                </div>
            </div>
        </form>
    </div>


{% endblock %}
