{% extends "layouts/main.twig" %}


{% block meta %}
    <title>Курсы английского языка в Виннице - групповое обучение</title>
    <meta name="keywords" content="Группове обучение английскому, курсы английского языка в Виннице, курсы английского в Виннице, школа английского языка в Виннице, школа языка в Виннице, деловой английский, курси англійської мови"/>
    <meta name="description" content="Группове обучение на курсах английского языка в Виннице, удобное расположение школы, профессиональные преподаватели и комфортные условия. Мы поможем вам стать лучше в вашей профессии"/>
{% endblock %}

{% block content %}


    {% include "./partials/topmenu.twig" with {'action': 'services'} %}



    <div id="templatemo-for-start">
        <div class="container">
            <div class="row">
                <div class="templatemo-line-header container">
                    <div class="text-center row">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <hr class="hr_gray"/>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <h1>
                                <strong>
                                    Групповое обучение
                                </strong>
                            </h1>
                        </div>
                        <div class=" col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <hr class="hr_gray"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container contacts">
        <div class="row">
            <div>
                <p class="text-center">
                    <strong>Максимум 5 человек, включая вас</strong>
                </p>
                <p>
                    Преимущества группового обучения на наших <strong>курсах английского языка</strong>:
                </p>
                <ul>
                    <li>
                        <p>
                            Наша школа языка предлагает занятия в группах до 5 человек.
                            Это позволяет преподавателю уделять внимание каждому ученику и при этом занятия не растягиваются во времени
                        </p>
                    </li>
                    <li>
                        <p>
                            Группы формируются на основании знаний языка (свой вы можете узнать пройдя <a href="{{ path('test') }}" target="_blank">тест>></a>).
                            Во время занятий устанавливается непринужденная атмосфера позволяющая ученикам легче и быстрее осваивать новый материал.
                        </p>
                    </li>
                    <li>
                        <p>
                            Обучение в группе позволяет учится на чужих ошибках.
                            Вы будете слышать и видеть где ваши соученики могут ошибаться и не будете повторять их ошибок в будущем.
                        </p>
                    </li>
                    <li>
                        <p>
                            На наших курсах языка преподаватель проводит различные коммуникативные ситуации.
                            Это позволяет ученикам отработать работу в парах, обсуждать ситуации всей группой и лучше понимать речь на слух.
                        </p>
                    </li>
                    <li>
                        <p>
                            В процессе обучения английскому языку наши курсы языка используют только признанные учебники от лучших европейских издательств.
                            Также наши преподаватели работают с актуальными наглядными материалами и современными технологическими средствами.
                        </p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>

    <div id="templatemo-for-start">
        <div class="container">
            <div class="row">
                <div class="templatemo-line-header container">
                    <div class="text-center row">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <hr class="hr_gray"/>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <h2>
                                <strong>
                                    Стоимость группового обучения
                                </strong>
                            </h2>
                        </div>
                        <div class=" col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <hr class="hr_gray"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div>
            <p>
                Цена занятий зависит от вашего уровня знаний английского языка, специализации программ, их продолжительности и интенсивности.
            </p>
            <ul>
                <li>
                    <p>
                        Групповые занятия (не больше 5 человек) &mdash; 1.5 часа, два-три раза в неделю, цена от 80 грн за занятие.
                    </p>
                </li>
                    <p>
                        <i> В цену входит чай, кофе, печеньки, плед и уютные домашние тапочки во время обучения и бесплатное посещение разговорного клуба. Мы постарались сделать уютную атмосферу для легкого и быстрого обучения.</i>
                    </p>
            </ul>
        </div>
    </div>

    <div id="templatemo-for-start">
        <div class="container">
            <div class="row">
                <div class="templatemo-line-header container">
                    <div class="text-center row">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <hr class="hr_gray"/>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <h2>
                                <strong>
                                    Что нужно чтобы начать
                                </strong>
                            </h2>
                        </div>
                        <div class=" col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <hr class="hr_gray"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="clearfix"></div>
    <div class="container">
        <div>
            <p>
                Чтобы начать обучение нам необходимо знать ваш текущий уровень языка и цели обучения. Для этого вы можете:
            </p>
            <ul>
                <li>
                    <p>
                        Вы можете позвонить к нам по телефону <strong>{{phone}}</strong> или  <strong>{{phone2}}</strong> и договориться о прохождении теста на определения уровня
                    </p>
                </li>
                <li>
                    <p>
                        Вы можете пройти <a class="underline" href="/test" target="_blank">тест</a> прямо у нас на сайте не выходя из дома:
                    </p>
                    <p class="text-center underline">
                        <a href="/test" target="_blank">Пройти тест для того, чтобы узнать уровень своего английского>></a>
                    </p>
                    <p>
                        После того как вы пройдете тесты наши преподаватели определят ваш уровень и мы перезвоним и предложим лучший вариант обучения!
                    </p>
                </li>
            </ul>
        </div>
    </div>
    <div class="clearfix"></div>

    {% include "./partials/tryitout.twig" %}
    {% include "./partials/contacts.twig" %}

{% endblock %}

