{% extends "layouts/main.twig" %}

{% block meta %}
    <title>Курсы английского языка в Виннице - индивидуальное обучение</title>
    <meta name="keywords" content="Индивидуальное обучение английскому, курсы английского языка в Виннице, курсы английского в Виннице, школа английского языка в Виннице, школа языка в Виннице, деловой английский, курси англійської мови"/>
    <meta name="description" content="Индивидуальное обучение на курсах английского языка в Виннице, удобное расположение школы, профессиональные преподаватели и комфортные условия. Мы поможем вам стать лучше в вашей профессии"/>
{% endblock %}

{% block content %}


    {% include "./partials/topmenu.twig" with {'action': 'services'} %}



    <div id="templatemo-for-start">
        <div class="container">
            <div class="row">
                <div class="templatemo-line-header container">
                    <div class="text-center row">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <hr class="hr_gray"/>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <h1>
                                <strong>
                                    Индивидуальное обучение
                                </strong>
                            </h1>
                        </div>
                        <div class=" col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <hr class="hr_gray"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container contacts">
        <div class="row">
            <div>
                <p>
                    Преимущества индивидуального обучения на наших <strong>курсах английского языка</strong>:
                </p>
                <ul>
                    <li>
                        <p>
                            Все внимание преподавателя будет сосредоточено на вас и ваших успехах в обучении.
                        </p>
                    </li>
                    <li>
                        <p>
                            Программа обучения будет создаваться на основании вашего текущего уровня языка, а также исходя из целей вашего обучения.
                        </p>
                    </li>
                    <li>
                        <p>
                            По желанию преподаватель может уделить внимание специфической, нужной вам теме.
                            Например, подтянуть словарный запас по определеной тематике или повторить какой-то раздел грамматики.
                        </p>
                    </li>
                    <li>
                        <p>
                            Мы составим вместе с вами индивидуальный график вашего обучения по разработаной специально для вас учебной программе.
                        </p>
                    </li>
                    <li>
                        <p>
                            У вас есть возможность перенести или отменить урок если вы заболели, в командировке или поменялся ваш график работы.
                        </p>
                    </li>
                </ul>
                <p>
                    Такая форма обучения подходит также для тех, кому необходим английский для учебы, работы, поездки за границy, для сдачи международного экзамена (FCE, TOEFL, IELTS и др.), для сдачи школьного экзамена (ВНО) или поступления в ВУЗ.
                </p>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>

    <div id="templatemo-for-start">
        <div class="container">
            <div class="row">
                <div class="templatemo-line-header container">
                    <div class="text-center row">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <hr class="hr_gray"/>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <h2>
                                <strong>
                                    Стоимость индивидуального обучения
                                </strong>
                            </h2>
                        </div>
                        <div class=" col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <hr class="hr_gray"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div>
            <p>
                Цена занятий зависит от вашего уровня знаний английского языка, специализации программ, их продолжительности и интенсивности.
            </p>
            <ul>
                <li>
                    <p>
                        Индивидуальное занятие - 1 час, два-три раза в неделю, цена от 120 грн.
                    </p>
                </li>
                <p>
                    <i> В цену входит чай, кофе, печеньки, плед и уютные домашние тапочки во время обучения и бесплатное посещение разговорного клуба. Мы постарались сделать уютную атмосферу для легкого и быстрого обучения.</i>
                </p>
            </ul>
        </div>
    </div>

    <div id="templatemo-for-start">
        <div class="container">
            <div class="row">
                <div class="templatemo-line-header container">
                    <div class="text-center row">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <hr class="hr_gray"/>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <h2>
                                <strong>
                                    Что нужно чтобы начать
                                </strong>
                            </h2>
                        </div>
                        <div class=" col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <hr class="hr_gray"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="clearfix"></div>
    <div class="container">
        <div>
            <p>
                Чтобы начать обучение нам необходимо знать ваш текущий уровень языка и цели обучения. Для этого вы можете:
            </p>
            <ul>
                <li>
                    <p>
                        Вы можете позвонить к нам по телефону <strong>{{phone}}</strong> или  <strong>{{phone2}}</strong> и договориться о прохождении теста на определения уровня
                    </p>
                </li>
                <li>
                    <p>
                        Вы можете пройти <a class="underline" href="/test" target="_blank">тест</a> прямо у нас на сайте не выходя из дома:
                    </p>
                    <p class="text-center underline">
                        <a href="/test" target="_blank">Пройти тест для того, чтобы узнать уровень своего английского>></a>
                    </p>
                    <p>
                        После того как вы пройдете тесты наши преподаватели определят ваш уровень и мы перезвоним и предложим лучший вариант обучения!
                    </p>
                </li>
            </ul>
        </div>
    </div>
    <div class="clearfix"></div>

    {% include "./partials/contacts.twig" %}

{% endblock %}

