{% extends "layouts/main.twig" %}

{% block meta %}
    <title>Курсы английского языка в Виннице - международные тесты английского языка</title>
    <meta name="keywords" content="международные тесты, IELTS, TOEFL, FCE, CAE, курсы английского языка в Виннице, курсы английского в Виннице, школа английского языка в Виннице, школа языка в Виннице, деловой английский, курси англійської мови"/>
    <meta name="description" content="Подготовка к тестам IELTS, TOEFL, FCE, CAE! Курсы английского языка в Виннице, удобное расположение школы, профессиональные преподаватели и комфортные условия. Мы поможем вам стать лучше в вашей профессии"/>
{% endblock %}

{% block content %}


    {% include "./partials/topmenu.twig" with {'action': 'services'} %}



    <div>
        <div class="container">
            <div class="row">
                <div class="templatemo-line-header container">
                    <div class="text-center row">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <hr class="hr_gray"/>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <h2>
                                <strong>

                                    Английский для IT
                                </strong>
                            </h2>
                        </div>
                        <div class=" col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <hr class="hr_gray"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container contacts mobile-mar-top-0">
        <div class="row">
            <h2 class="text-center">В  IT-cфере от уровня английского языка зависит уровень дохода</h2>
            <div class="mar-top-l">
                <p>
                    Это не секрет. Но вы можете еще раз убедиться в этом прочитав статью на <a href="http://ain.ua/2015/08/17/596331" target="_blank">ain.ua</a>
                </p>
                <p>
                    Именно поэтому я не буду убеждать вас изучать или поднимать уровень английского, а просто расскажу, почему вам стоит обратиться за знаниями и навыками именно к нам.
                </p>
                <p>
                    Наши преподаватели знакомы с миром IT. Они понимают, как это когда надо быстро найти ответ на stack overflow или понять, что говорит заказчик во время митинга по скайпу с плохим интернетом и надо адекватно ответить. Или как быстро объяснить в переписке PM-у, что это не твой последний коммит положил production.
                </p>
                <p>
                    Обучение направлено на то, что необходимо именно вам. Вы можете подтянуть грамматику, развить разговорную речь или все вместе.
                </p>
                <p>
                    Чему вы научитесь:
                    <ul>
                        <li>
                            <p>
                                Понимать техническую документацию (вместе пополним словарный запас)
                            </p>
                        </li>
                        <li>
                            <p>
                                Понимать речь на слух (будем тренироваться понимать речь с акцентом именно вашего заказчика)
                            </p>
                        </li>
                        <li>
                            <p>
                                Грамотно и адекватно отвечать и задавать вопросы
                            </p>
                        </li>
                        <li>
                            <p>
                                Тренироваться в письме — написание e-mail, переписка в чате
                            </p>
                        </li>
                    </ul>
                </p>

            </div>
        </div>
    </div>
    <div class="clearfix"></div>

    <div>
        <div class="container">
            <div class="row">
                <div class="templatemo-line-header container">
                    <div class="text-center row">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <hr class="hr_gray"/>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <h2>
                                <strong>
                                    Условия обучения
                                </strong>
                            </h2>
                        </div>
                        <div class=" col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <hr class="hr_gray"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container contacts mobile-mar-top-0">
        <div class="row">
            <div class="mar-top-l">
                <p>
                    IT-шники привыкли к высокому уровню комфорта и у нас есть что предложить:
                </p>
                <ul>
                    <li>
                        <p>
                            <strong>Офис в самом центре города.</strong> Будет совсем несложно добираться к школе (но можно и договориться об уроках по Skype)
                        </p>
                    </li>
                    <li>
                        <p>
                            <strong>Гибкий график.</strong> Мы подберем максимально удобный график для ваших занятий
                        </p>
                    </li>
                    <li>
                        <p>
                            <strong>Домашняя атмосфера</strong> в офисе с домашними тапочками и чашечкой кофе с печеньем
                        </p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>

    <div id="templatemo-for-start">
        <div class="container">
            <div class="row">
                <div class="templatemo-line-header container">
                    <div class="text-center row">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <hr class="hr_gray"/>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <h2>
                                <strong>
                                    Виды обучения
                                </strong>
                            </h2>
                        </div>
                        <div class=" col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <hr class="hr_gray"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container contacts">
        <div class="row">
            <p>
                Возможны как групповые так и индивидуальные занятия. И каждый из подходов имеет свои преимущества:
            </p>
            <p>
                <strong>Индивидуально</strong>
            </p>
            <ul>
                <li>
                    <p>
                        Все внимание преподавателя уделяется вам
                    </p>
                </li>
                <li>
                    <p>
                        Программа составляется специально под вас и ваши потребности
                    </p>
                </li>
                <li>
                    <p>
                        Есть возможность согласовать график занятий
                    </p>
                </li>
            </ul>
            <p>
                <strong>Групповые</strong>
            </p>
            <ul>
                <li>
                    <p>
                        Вы слышите и общаетесь преподавателя(и её идеальным произношением), но и со студентами группы
                    </p>
                </li>
                <li>
                    <p>
                        Вы можете учится на ошибках других
                    </p>
                </li>
                <li>
                    <p>
                        Цена
                    </p>
                </li>
            </ul>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="hide">
        <div class="container">
            <div class="row">
                <div class="templatemo-line-header container">
                    <div class="text-center row">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <hr class="hr_gray"/>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <h2>
                                <strong>
                                    Преподаватель
                                </strong>
                            </h2>
                        </div>
                        <div class=" col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <hr class="hr_gray"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container contacts mar-top-0 hide">
        <div class="row">
            <p class="text-justify">
                Саша, наш преподаватель IT-направления:
            </p>
        </div>
        <div class="row mar-top-l">
            <div class="col-lg-6 col-md-6 col-sm-0 col-xs-0">
                <img class="img-responsive" src="/web/client/images/teachers/masha.jpg"/>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 mobile-mar-top-l">
                <blockquote class="font-style-italic text-justify">
                    <p>Hello! Меня зовут Мария. Уже четыре года я успешно готовлю школьников, студентов и взрослых к сдаче международных Кембриджских экзаменов.</p>
                    <p>На мой взгляд, лучший способ понять как готовить к экзамену ­ это самой очутиться «в шкуре» студента. Именно поэтому, прежде чем взять на себя ответственность подготовить ученика к сдаче, я сама сдала несколько экзаменов. Моим первым достижением был экзамен IELTS, который я сдала на 8 балов. Затем последовали экзамены FCE (2012 год) и CAE (2015 год).</p>
                    <p>Из собственного опыта могу сказать, что не один из Кембриджских экзаменов не дается
                        легко, но это не значит, что это не интересно и скучно. Каждый экзамен – это своеобразный
                        подъем на гору, достигнув вершины которой, вы почувствуете радость, гордость за самих
                        себя и чувство удовлетворения. Я могу поделиться с вами опытом, рассказать о тонкостях
                        экзамена и всех его «закоулочках».
                    </p>
                    <p>
                        От вас требуется четко поставленная цель , желание
                        работать и самосовершенствоваться, а главное помнить:&nbsp; <strong>it doesn’t matter how slow you go, as long as you don’t stop.</strong>
                    </p>

                </blockquote>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>


    <div id="templatemo-for-start">
        <div class="container">
            <div class="row">
                <div class="templatemo-line-header container">
                    <div class="text-center row">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <hr class="hr_gray"/>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <h2>
                                <strong>
                                    Как начать
                                </strong>
                            </h2>
                        </div>
                        <div class=" col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <hr class="hr_gray"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container contacts" style="margin-bottom: 35px;">
        <div class="row">
            <p class="text-justify">
                Запишитесь на <a href="{{ path('demo') }}">бесплатный пробный урок</a> и проверьте или все вышесказанное правда :)
                <br> или свяжитесь с нами по телефонах: <strong>{{phone}}</strong>, <strong>{{phone2}}</strong>
            </p>
        </div>

        <div class="try-it-out">
            <div class="try-it-out-button">
                <a href="{{ path('demo') }}">
                    <button type="button" class="btn btn-lg btn-orange">
                        <span class="glyphicon glyphicon-education"></span> Записаться
                    </button>
                </a>
            </div>
        </div>
    </div>
    {% include "./partials/contacts.twig" %}

{% endblock %}

