{% extends "layouts/main.twig" %}

{% block meta %}
    <title>Курсы английского языка в Виннице - наши преподаватели</title>
    <meta name="keywords" content="наши преподаватели, курсы английского языка в Виннице, курсы английского в Виннице, школа английского языка в Виннице, школа языка в Виннице, деловой английский, курси англійської мови"/>
    <meta name="description" content="наши преподаватели, Курсы английского языка в Виннице, удобное расположение школы, профессиональные преподаватели и комфортные условия. Мы поможем вам стать лучше в вашей профессии"/>
{% endblock %}

{% block content %}

    {% include "./partials/topmenu.twig" with {'action': 'teachers'} %}

    <div>
        <div class="container">
            <div class="row">
                <div class="templatemo-line-header container">
                    <div class="text-center row">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <hr class="hr_gray"/>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <h2>
                                <strong>

                                    Наши преподаватели
                                </strong>
                            </h2>
                        </div>
                        <div class=" col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <hr class="hr_gray"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="clearfix"></div>

    {% for teacher in teachers %}
        {% include "./partials/teacher.twig" with {'teacher': teacher} %}
    {% endfor %}

    <div class="clearfix"></div>

    <div class="container">
        <div class="row">
            <div class="templatemo-line-header container text-center">
                <h2>Мы все ещё в процессе добавления всех наших преподователей на эту страницу</h2>
            </div>
        </div>
    </div>

    <div class="clearfix"></div>

    {% include "./partials/contacts.twig" %}

{% endblock %}

