{% extends "layouts/main.twig" %}


{% block content %}


    {% include "./partials/topmenu.twig" with {'action': 'contacts'} %}



    <div id="templatemo-for-start" class="pc-view">
        <div class="container">
            <div class="row">
                <div class="templatemo-line-header container pc-view">
                    <div class="text-center row">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <hr class="hr_gray"/>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <h2>
                                <strong>
                                    Групповое обучение
                                </strong>
                            </h2>
                        </div>
                        <div class=" col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <hr class="hr_gray"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container pc-view contacts">
    </div>
    <div class="clearfix"></div>


{% endblock %}

