{% extends "layouts/main.twig" %}

{% block meta %}
    <title>Курсы английского языка в Виннице - международные тесты английского языка</title>
    <meta name="keywords" content="международные тесты, IELTS, TOEFL, FCE, CAE, курсы английского языка в Виннице, курсы английского в Виннице, школа английского языка в Виннице, школа языка в Виннице, деловой английский, курси англійської мови"/>
    <meta name="description" content="Подготовка к тестам IELTS, TOEFL, FCE, CAE! Курсы английского языка в Виннице, удобное расположение школы, профессиональные преподаватели и комфортные условия. Мы поможем вам стать лучше в вашей профессии"/>
{% endblock %}

{% block content %}


    {% include "./partials/topmenu.twig" with {'action': 'services'} %}



    <div id="templatemo-for-start">
        <div class="container">
            <div class="row">
                <div class="templatemo-line-header container">
                    <div class="text-center row">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <hr class="hr_gray"/>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <h2>
                                <strong>
                                    Международные тесты
                                </strong>
                            </h2>
                        </div>
                        <div class=" col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <hr class="hr_gray"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container contacts mobile-mar-top-0">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <p class="text-justify">
                    Cambridge ESOL — English for Speakers of Other Languages. Миллионы людей по всему миру сдают кембриджские тесты для работы, учебы и путешествий. Каждый тест Cambridge ESOL разработан для разных уровней знаний, и позволяет наиболее точно оценивать уровень каждого кандидата.
                </p>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-0 col-xs-0">
                <img class="img-responsive" style="margin-top: -20px;" src="http://riedu.ru/sites/default/files/cambridge_exam.jpg"/>
            </div>
        </div>
        <p>
            Наша школа английского языка поможет вам подготовиться к сдаче международных Кембриджских экзаменов
        </p>
    </div>
    <div class="clearfix"></div>

    <div id="templatemo-for-start">
        <div class="container">
            <div class="row">
                <div class="templatemo-line-header container">
                    <div class="text-center row">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <hr class="hr_gray"/>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <h2>
                                <strong>
                                    Преподаватель
                                </strong>
                            </h2>
                        </div>
                        <div class=" col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <hr class="hr_gray"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container contacts mar-top-0">
        <div class="row">
            <p class="text-justify">
                На наших курсах английского языка к сдаче международных тестов вас подготовит наш опытный преподаватель Мария. Пару слов от Марии:
            </p>
        </div>
        <div class="row mar-top-l">
            <div class="col-lg-6 col-md-6 col-sm-0 col-xs-0">
                <img class="img-responsive" src="web/client/images/teachers/masha.jpg"/>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 mobile-mar-top-l">
                <blockquote class="font-style-italic text-justify">
                    <p>Hello! Меня зовут Мария. Уже четыре года я успешно готовлю школьников, студентов и взрослых к сдаче международных Кембриджских экзаменов.</p>
                    <p>На мой взгляд, лучший способ понять как готовить к экзамену ­ это самой очутиться «в шкуре» студента. Именно поэтому, прежде чем взять на себя ответственность подготовить ученика к сдаче, я сама сдала несколько экзаменов. Моим первым достижением был экзамен IELTS, который я сдала на 8 балов. Затем последовали экзамены FCE (2012 год) и CAE (2015 год).</p>
                    <p>Из собственного опыта могу сказать, что не один из Кембриджских экзаменов не дается
                        легко, но это не значит, что это не интересно и скучно. Каждый экзамен – это своеобразный
                        подъем на гору, достигнув вершины которой, вы почувствуете радость, гордость за самих
                        себя и чувство удовлетворения. Я могу поделиться с вами опытом, рассказать о тонкостях
                        экзамена и всех его «закоулочках».
                    </p>
                    <p>
                        От вас требуется четко поставленная цель , желание
                        работать и самосовершенствоваться, а главное помнить:&nbsp; <strong>it doesn’t matter how slow you go, as long as you don’t stop.</strong>
                    </p>

                </blockquote>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div id="templatemo-for-start">
        <div class="container">
            <div class="row">
                <div class="templatemo-line-header container">
                    <div class="text-center row">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <hr class="hr_gray"/>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <h2>
                                <strong>
                                    Сертификаты преподавателя
                                </strong>
                            </h2>
                        </div>
                        <div class=" col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <hr class="hr_gray"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
            <div class="row">
                <div class="col-xs-0 col-md-3"></div>
                <div class="col-xs-6 col-md-3">
                    <a href="web/client/images/teachers/masha_esol.jpg" target="_blank" class="thumbnail">
                        <img src="web/client/images/teachers/masha_esol.jpg" class="img-responsive"/>
                    </a>
                </div>
                <div class="col-xs-6 col-md-3">
                    <a href="web/client/images/teachers/masha_esol2.jpg" target="_blank" class="thumbnail">
                        <img src="web/client/images/teachers/masha_esol2.jpg" class="img-responsive"/>
                    </a>
                </div>
                <div class="col-xs-0 col-md-3"></div>
            </div>
    </div>
    <div class="clearfix"></div>

    <div id="templatemo-for-start">
        <div class="container">
            <div class="row">
                <div class="templatemo-line-header container">
                    <div class="text-center row">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <hr class="hr_gray"/>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <h2>
                                <strong>
                                    Формат обучения
                                </strong>
                            </h2>
                        </div>
                        <div class=" col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <hr class="hr_gray"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container contacts mobile-mar-top-0">
        <div class="row">
            <p>
                Основным фактором успешной сдачи теста является знание специфики и структуры экзамена.
            </p>
            <p>
                Программа курса включает следующие компоненты:
            </p>
            <ul>
                <li>
                    <p>
                        Знакомство с форматом экзамена и требованиями к выполнению заданий
                    </p>
                </li>
                <li>
                    <p>
                        Ознакомление с типами вопросов в каждом модуле экзамена
                    </p>
                </li>
                <li>
                    <p>
                        Отработка навыков и умений в заданиях на аудирование, чтение, развитие письменной и устной речи
                    </p>
                </li>
                <li>
                    <p>
                        Пополнение словарного запаса и обзор грамматических конструкций, необходимых для сдачи экзамена
                    </p>
                </li>
                <li>
                    <p>
                        Практика выполнения тестов в экзаменационном режиме с ограничением по времени
                    </p>
                </li>
                <li>
                    <p>
                        Анализ ошибок студентов и учет их при выполнении последующих заданий
                    </p>
                </li>
                <li>
                    <p>
                        Рекомендации преподавателя по улучшению вашей успеваемости
                    </p>
                </li>
            </ul>
        </div>
    </div>
    <div class="clearfix"></div>

    <div id="templatemo-for-start">
        <div class="container">
            <div class="row">
                <div class="templatemo-line-header container">
                    <div class="text-center row">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <hr class="hr_gray"/>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <h2>
                                <strong>
                                    Чтобы начать
                                </strong>
                            </h2>
                        </div>
                        <div class=" col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <hr class="hr_gray"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container contacts" style="margin-bottom: 35px;">
        <div class="row">
            <p class="text-justify">
                Если вы хотите начать обучение свяжитесь с нами по телефонах: <strong>{{phone}}</strong>, <strong>{{phone2}}</strong> или
                запишитесь на <a href="{{ path('demo') }}">бесплатный пробный урок:</a>
            </p>
        </div>

        <div class="try-it-out">
            <div class="try-it-out-button">
                <a href="{{ path('demo') }}">
                    <button type="button" class="btn btn-lg btn-orange">
                        <span class="glyphicon glyphicon-education"></span> Записаться
                    </button>
                </a>
            </div>
        </div>
    </div>
    {% include "./partials/contacts.twig" %}

{% endblock %}

