{% extends "layouts/main.twig" %}


{% block content %}


    {% include "./partials/topmenu.twig" with {'action': 'services'} %}



    <div id="templatemo-for-start">
        <div class="container">
            <div class="row">
                <div class="templatemo-line-header container">
                    <div class="text-center row">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <hr class="hr_gray"/>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <h2>
                                <strong>
                                   Готовим к экзамену и взрослой жизни
                                </strong>
                            </h2>
                        </div>
                        <div class=" col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <hr class="hr_gray"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container contacts">
        <div class="row">
            <div>
                <p>
                    Вы конечно же знаете о прямой зависимости между зарплатой и уровнем английского языка.
                    Еще раз почитать об этом вы можете здесь:<strong> <a href="http://ain.ua/2016/07/20/660330" target="_blank">Ain.ua</a></strong>
                </p>
                <p>
                    Статистика говорит, что зарплаты украинцев, которые хорошо знают английский язык, <strong>почти на 70% выше</strong> и
                    первый шаг к успешной жизни сегодня начинается со сдачи ВНО (ЗНО).
                </p>
                <p>
                    Изучение английского требует упорства, терпения и времени, потому как без этого его освоить не получится.
                    Поэтому очень важно, чтобы преподаватель смог привить любовь к изучению языка, сделав обучение легким и интересным.
                </p>
                <p>
                    Если вам или вашему ребенку нужна помощь в подготовке к ВНО (ЗНО), то у нас вас ждет два преимущества:
                    <ul>
                    <li>
                        <p>
                            Мы поможем <strong>успешно подготовиться и сдать ВНО (ЗНО)</strong>
                        </p>
                    </li>
                    <li>
                        <p>
                            Мы покажем как можно <strong>полюбить английский</strong>, тем самым, дав хороший старт во взрослой жизни
                        </p>
                    </li>
                    </ul>
                </p>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>

    <div id="templatemo-for-start">
        <div class="container">
            <div class="row">
                <div class="templatemo-line-header container">
                    <div class="text-center row">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <hr class="hr_gray"/>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <h2>
                                <strong>
                                    Варианты обучения
                                </strong>
                            </h2>
                        </div>
                        <div class=" col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <hr class="hr_gray"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container contacts">
        <div class="row">
            <p>
                Мы предлагаем два варианта обучения индивидуальное и групповое
            </pk>
        </div>
    </div>

    <div>
        <div class="container">
            <div class="row">
                <div class="templatemo-line-header container">
                    <div class="text-center row">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <hr class="hr_gray"/>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <h2>
                                <strong>
                                    Условия обучения
                                </strong>
                            </h2>
                        </div>
                        <div class=" col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <hr class="hr_gray"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container contacts mobile-mar-top-0">
        <div class="row">
                <p>
                    Во время изучения языка очень важны атмосфера и комфорт. Мы постарались сделать, чтобы ученику было действительно удобно обучаться:
                </p>
                <ul>
                    <li>
                        <p>
                            <strong>Офис в самом центре города.</strong> Будет совсем несложно добираться к школе (но можно и договориться об уроках по Skype)
                        </p>
                    </li>
                    <li>
                        <p>
                            <strong>Гибкий график.</strong> Мы подберем максимально удобный график для ваших занятий
                        </p>
                    </li>
                    <li>
                        <p>
                            <strong>Домашняя атмосфера</strong> в офисе с домашними тапочками и чашечкой кофе с печеньем
                        </p>
                    </li>
                </ul>
        </div>
    </div>

    <div class="pc-view">
        {% include "./partials/tryitout.twig" %}
    </div>
    {% include "./partials/contacts.twig" %}



{% endblock %}

