<table>
    <tr>
        <td></td>
        <td>
            <table>
                <tr>
                    <td><img src="http://maldena.com.ua/web/client/images/logo.png" width="100"/></td>
                </tr>
            </table>
        </td>
        <td></td>
    </tr>
</table>

<table>
    <tr>
        <td></td>
        <td>
            <div>
                <table >
                    <tr>
                        <td>
                            <h3>Hi! Hope you have really good day!</h3>
                            <p>I have some news for you :)</p>
                            <table cellspacing="6" cellpadding="6" border="0" style="width: 100%; height: 100%; border: 1px #2BA6CB solid;">
                                <thead>
                                <tr>
                                    <td>Type</td>
                                    <td>Name</td>
                                    <td>Text</td>
                                    <td>Date</td>
                                </tr>
                                </thead>
                                {{ rows| raw }}
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </table>
            </div>

        </td>
        <td></td>
    </tr>
</table>

<table>
    <tr>
        <td></td>
        <td>
            <div class="content">
                <table>
                    <tr>
                        <td align="center">
                            <p>
                                <a href="http://maldena.com.ua">Main Page</a> |
                                <a href="http://maldena.com.ua/admin">Admin part</a>
                            </p>
                        </td>
                    </tr>
                </table>
            </div>
        </td>
        <td></td>
    </tr>
</table>


