{% extends "layouts/login.twig" %}

{% block content %}

<form class="form-horizontal" action="{{ path('admin_login_check') }}" method="post">
	{{ error }}
	<div class="input-prepend" title="Username">
		<span class="add-on"><i class="halflings-icon user"></i></span>
		<input class="input-large span10" value="{{ last_username }}" name="_username" id="username" type="text" placeholder="type username"/>
	</div>
	<div class="clearfix"></div>

	<div class="input-prepend" title="Password">
		<span class="add-on"><i class="halflings-icon lock"></i></span>
		<input class="input-large span10" name="_password" id="password" type="password" placeholder="type password"/>
	</div>
	<div class="clearfix"></div>

	{#<label class="remember" for="remember"><input type="checkbox" id="remember" />Remember me</label>#}

	<div class="button-login">
		<button type="submit" class="btn btn-primary">Login</button>
	</div>
	<div class="clearfix"></div>
</form>

{% endblock %}
